body  {
  margin-top: 60px;
}
/*
@media only screen and (min-width : 320px) {
  .tab-content {
    margin-top: 140px;
  }
}
@media only screen and (min-width: 768px) {
  .tab-content {
    margin-top: 60px;
  }
}
*/

.nav-image {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

.selectize-dropdown {
  z-index: 10000
}

.small, small {
  font-size: 60%;
}

#map_1-map {
  height: 400px !important;
  height: 40vh !important;
  min-height: 400px;
}
